p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 60px;
  margin-left: 60px;
}

.headshot {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-style: italic;
    background-image: linear-gradient(to right, #e98695, #C09BD8);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}