body {
  margin: 0;
  padding: 0;
  background-color: #f5f4f6;
  color: #1f1617;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.intro, h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sub-intro, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projects-title p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
}

.experience-position p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image--circle {
  border-radius: 70%;
}

.image--rounded {
  max-width: 350px;
  height: 400px;
  border-radius: 25px;
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    gap: 32px;
    padding: 30px;
}

.content-mid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 32px;
  padding: 30px;
  background-image: linear-gradient(to right, #e98695, #C09BD8);
}

.header-background{
  background-image: linear-gradient(to right, #e98695, #C09BD8);
}

ul.navbar {
    position: sticky;
    top: 0;
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1f1617;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

ul.navbar li a {
    display: block;
    color: white;
    gap: 40px;
    padding: 20px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #f5f4f6;
    color: black;
    font-style: italic;
    box-shadow : 0 16px 20px 0 rgba(0, 0, 0, 0.5);
}

#connect, #projects {
  grid-template-columns: 1fr;
}

#experience {
  overflow-x: hidden;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  gap: 80px;
}

.card-list-contact {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 80px;
  margin: 0 auto;
}

/* Card styling pattern adapted from W3Schools
   https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
  background-color: white;
  box-shadow : 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition : 0.3s;
  border-radius: 25px;
}

.card-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-radius: 25px;
}

.card:hover {
  box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.5);
}

.container {
  padding : 16px;
}

.container-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 150px;
  margin-top: 12px;
}
/* Collapsible section styling pattern adapted from Jordan Finners
https://medium.com/@jordanfinners/creating-a-collapsible-section-with-nothing-but-html-199f04f13377 */

details {
  user-select: none;
}

summary {
  gap: 8px;
  background-color: #e98695;
  font-size: 25px;
  width: 350%;
  padding: 28px;
  margin-bottom: 0;
  margin-top: 16px;
}

.summary p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: italic;
}

details[open] .summary {
  width: 100%; 
}

.summary:hover{
  background-color: #C09BD8;
  cursor: pointer;
}

details[open] .experience-open {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 60px;
}

details[open] .experience-open > :nth-child(3) {
  justify-self: center;
  text-align: center;
}

.experience-position {
  margin-bottom: 8px;
  margin-left: 10px;
  font-size: 32px;
}

.experience-description {
  grid-column: 1;
  font-size: 25px;
}

.experience-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.experience-open {
  display: none;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}