p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 30px;
  margin-left: 30px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headshot {
  width: 250px;
  height: 250px;
  border-radius: 70%;
  object-fit: cover;
  object-position: center;
}

.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: left;
    gap: 32px;
    padding: 10px;
    background-image: linear-gradient(to right, #e98695, #C09BD8);
}

ul.navbar {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1f1617;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

ul.navbar li a {
    display: block;
    color: white;
    gap: 40px;
    padding: 20px 40px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #f5f4f6;
    color: black;
    font-style: italic;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}